<%= simple_form_for(@fortune) do |f| %>
  <% if @fortune.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fortune.errors.count, "error") %> prohibited this fortune from being saved:</h2>

      <ul>
      <% @fortune.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.input :title, :label => 'Tytuł', :input_html => { :id => 'textfield'} %>
<%= f.input :author, :label => 'Autor', :input_html => { :id => 'textfield'} %>
<%= f.input :content, :label => 'Cytat', :input_html => { :id => 'content'} %>
<%= f.button :submit, :label => 'Utwórz', :input_html => { :id => 'buttonl'} %>

 
<% end %>
